.classpath
.settings
.project
target
bin
.pmd
.checkstyle
.metadata
*versionsBackup
*releaseBackup
release.properties
*.kdb.lock
*.orig
*.iml
*.log
*.ipr
*.iws
.idea
.idea
*/.idea/*
*~
.cache
.springBeans
test-output
target
target/*
