<configuration scan="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ACHILLES_DDL_SCRIPT" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="ACHILLES_DML_STATEMENT" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="info.archinnov.achilles.embedded" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="info.archinnov.achilles" level="WARN" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.apache.cassandra.cql3.QueryProcessor" level="OFF" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.apache.cassandra.db.Memtable" level="OFF" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>