<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC
  "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration debug="false"
	xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- Appenders -->
	<appender name="ConsoleAppender"
		class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-5p [%d{ABSOLUTE}][%x] %c@:%M %m %n"  />
		</layout>
	</appender>
	
	
	<logger name="info.archinnov.columnFamily.ColumnFamilyBuilder">
		<level value="DEBUG" />
		<appender-ref ref="ConsoleAppender" />
	</logger>
	<!-- ********************************************************* -->
	<!-- Root Loggers                                              -->
	<!-- ********************************************************* -->
	<root>
		<level value="INFO" />
		<appender-ref ref="ConsoleAppender" />
	</root>
</log4j:configuration>